<div class="post-comments">
	<h2><%= @post.title%></h2>
	<small>Submitted <%= time_ago_in_words(@post.created_at) %> ago</small>
	<p><%= @post.body %></p><br/>
	
	<h2>Comments</h2>

  <%= form_for [@post, Comment.new] do |f| %>
	  <div class="form-group">
			<%= f.text_area :body, placeholder: "Add a comment" %><br/>
		  <%= f.submit "Add Comment" %>
	  </div>
	<% end %>
	<div class="comments-nav">
    <ul class="nav nav-pills">
      <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                there are <%= @post.comments.count%> comments <span class="caret"></span>
              </a>
      </li>
    </ul>
  </div>
  <div class="row">
    <ul>
		  <%= render @post.comments  %>
		</ul>
	</div>
</div>
